appdirs==1.4.3
buildozer==0.39
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
Cython==0.29.13
docutils==0.15.2
idna==2.8
importlib-metadata==0.19
Jinja2==2.10.1
Kivy==1.11.1
Kivy-Garden==0.1.4
MarkupSafe==1.1.1
pep517==0.6.0
pexpect==4.7.0
Pillow==6.2.0
ptyprocess==0.6.0
Pygments==2.4.2
pytoml==0.1.21
requests==2.22.0
sh==1.12.14
six==1.12.0
urllib3==1.25.3
virtualenv==16.7.3
zipp==0.5.2
